# python
__pycache__/
*.pyc
*.pyo
*.pyd

# venvs + ides
.venv/
venv/
.idea/
.vscode/

# jupyter
**/.ipynb_checkpoints/

# data
Exoplanet_Detection/exoData
Plots_Exercise/plots_data.csv
Kepler_Candidates/koi_data.csv